body {
    margin: 0 auto;
    background-color: #fffffe;
    padding: 10px;
    color: #534A4B;
    font-family: Gill Sans, sans-serif;
    font-weight: lightest;
}
.form-group {
    background-color: #1592ff;
    padding: 1px;
    border-radius: 5px;
    color: white;
    width: 75%;
    margin: 10px  auto;
    text-align: center;
}

.btn {
    margin: 10px auto;
    color: #1592ff;
    border: 1px solid #1592ff;
    background-color: white;
}

ul {
    list-style-type: none;
}

h4 {
    text-align: center;
    padding: 5px;
    margin: 20px auto;
    background-color: white;
    border-radius: 5px;
    color: #534A4B;

}

.nav {


}

.table {
    color: #534A4B;
    background-color: white;
    text-align: center;

}
.cover {
  margin: 10px auto;
  text-align: center;
  padding: 10px;
  float: left;
  width: 50%;


}
a {
    border-radius: 5px;
    color: #FF8B94;
}
.user_reviews {
    background-color: #E9EBEC;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    float: right;
    max-width: 350px;

}
img {
    box-shadow: 5px 10px 10px;

}

.nav-link {
    background-color: white;
    margin: 5px;
    border-radius: 5px;
    color: #1592ff;
    border: 1px solid #1592ff;

}
h3 {
    margin: 10px auto;
    text-align: center;
    padding: 10px;

}